@(person: Form[CreatePersonForm])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
   @request.messages(key)
}

@main("Welcome to Play") {
	<h1> Grupo 4 </h1>
  @form(routes.PersonController.addPerson()) {
		@inputText(person("name"))
		@inputText(person("age"))
		@CSRF.formField

		<div class="buttons">
			<input type="submit" value="Add person"/>
		</div>
	}
}
